# Ignore Mac system files
.DS_store
# Ignore node_modules folder
node_modules
# Ignore the intellj file
*.idea
# Ignore target folder from mvn 
target
# Ignore all text files
*.txt
# Ignore files related to API keys
.env
# Ignore SASS config files
.sass-cache
